extends baseTemplate 
block main
    main
        div.dashboard.flex
            include partials/sidebar
            div.dashboard--content.w-full
                div.shadow-md.w-full.py-4.px-5.text-center.font-semibold
                    h1.text-lg All Products
                div.p-10
                    table.w-full.text-left.border-b-2.border-slate-500
                        thead
                            tr.bg-slate-600.text-white
                                th.p-3 Created At
                                th.p-3 Cover
                                th.p-3 Product Name
                                th.p-3 Category
                                th.p-3 Price (GHS)
                                th.p-3 Quantity
                                th.p-3 Action
                        tbody
                            each product in products
                                tr
                                    td.p-3=product.createdAt.toLocaleString("en-US",{month:"2-digit",year:"numeric",day:"numeric"})
                                    td.p-3
                                        img(class="w-[60px] h-[50px] rounded-md" src=`/uploads/${product.imagePath}`, alt="")
                                    td.p-3=product.productName
                                    td.p-3=product.categoryID.categoryName
                                    td.p-3=product.price
                                    td.p-3=product.quantity
                                    td.p-3.flex.items-center.gap-2
                                        a(href=`/updateProduct/${product._id}`)(class="px-2 py-1 bg-blue-600/60 text-white rounded-sm") Edit
                                        button(class="px-2 py-1 bg-red-500/80 text-white rounded-sm", onclick=`deleteProduct("${product._id}")`) Delete
                    div.pagination.mt-5
                    ul.flex.gap-2
                            a(class="px-3 py-1 bg-slate-600/60 text-white rounded-sm")(href='?page=1') 1
                            a(class="px-3 py-1 bg-slate-600/60 text-white rounded-sm")(href='?page=2') 2
                            a(class="px-3 py-1 bg-slate-600/60 text-white rounded-sm")(href='?page=3') 3
                            a(class="px-3 py-1 bg-slate-600/60 text-white rounded-sm")(href='?page=4') 4

    script(src="/resources/script/script.js") 
            