extends baseTemplate 
block main 
    section.dashboard--section
        include partials/sidebar
        div.content
            header
                h1 Edit Book
            section.form-section
                form(action="/add-book" method="POST" class="book-form")
                div.form-group
                    label(for="title") Title
                    input#title(type="text" name="title" required placeholder="Enter book title" value=book.title)
                div.form-group
                    label(for="genreID") Genre ID
                    input#genreID(type="text" name="genreID" required placeholder="Enter genre ID" value=book.genreID)
                div.form-group
                    label(for="author") Author
                    input#author(type="text" name="author" required placeholder="Enter author's name" value=book.author)
                div.form-group
                    label(for="publisher") Publisher
                    input#publisher(type="text" name="publisher" required placeholder="Enter publisher's name" value=book.publisher)
                div.form-group
                    label(for="yearPublished") Year Published
                    input#yearPublished(type="number" name="yearPublished" required placeholder="Enter year of publication" value=book.yearPublished)
                div.form-group
                    label(for="copies") Copies
                    input#copies(type="number" name="copies" required placeholder="Enter number of copies available" value=book.copies)
                div.form-group
                    label(for="description") Description
                    textarea#description(name="description" required placeholder="Enter book description")=book.description
                div.form-actions
                    button(type="submit" class="btn-submit edit--submit") Update Book